.borda{
    border: 5px dashed blue;
}


/* .borda{
    border-style: solid;
    border-width: 5px;
    border-color: red green blue yellow;
    border-radius: 5px;
    
} */

/* .quadrado{
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.doted {border-style: dotted;}
.dashed{border-style: dashed;}
.solid{border-style: solid;}
.none{border-style: none;}
.hidden{border-style: hidden;} */