 body{
    padding: 0;
    margin: 0;
}

.square{
    width: 120px;
    height: 100px;
    background-color: yellow;
    border: 10px solid blue;
    padding: 10px;

    box-sizing: border-box;/* ELE VAI RESPEITAR O LIMITE DA BORDA */

}
.square2{
    width: 120px;
    height: 100px;
    background-color: yellow;
}
/*
.container{
    background-color: rgb(224, 221, 221);
    padding: 10px;/* padding afasta o conteudo 
    border: 5px solid blue;
    margin: 10px;
}

.content{
    background-color: gray;
    outline: 5px solid green;/* ele passa uma borda por cima 
    padding: 5px;

} */